@inherits ViewPage

﻿@{
    ViewBag.Title = "Janis Joplin";
}
<div id="content-page">
    
    <img src="splash.jpg" id="splash" alt="Janis Joplin" />
    <p>
        Janis Lyn Joplin was an American singer and songwriter from Port Arthur, Texas. As a youth 
        Joplin was ridiculed by her fellow students due to her unconventional appearance and 
        personal beliefs. 
    </p>

    <dl>
        <dt> 
            Born
        </dt>
        <dd>
            January 19, 1943, Port Arthur
        </dd>
        <dt>
            Died
        </dt>
        <dd>
            October 4, 1970, Los Angeles
        </dd>
        <dt>
            Nicknames
        </dt>
        <dd>
            Beat Weeds, Pearl
        </dd>
    </dl>

    @Html.Partial("Content")

</div>
