<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.21" targetFramework="net45" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.5" targetFramework="net45" />
  <package id="AWSSDK.S3" version="3.3.15" targetFramework="net45" />
  <package id="AWSSDK.SQS" version="3.3.3.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Net.Compilers" version="2.6.0" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="NUnit" version="3.9.0" targetFramework="net45" />
  <package id="ServiceStack" version="5.0.0" targetFramework="net45" />
  <package id="ServiceStack.Aws" version="5.0.0" targetFramework="net45" />
  <package id="ServiceStack.Client" version="5.0.0" targetFramework="net45" />
  <package id="ServiceStack.Common" version="5.0.0" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="5.0.0" targetFramework="net45" />
  <package id="ServiceStack.OrmLite" version="5.0.0" targetFramework="net45" />
  <package id="ServiceStack.Razor" version="5.0.0" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="5.0.0" targetFramework="net45" />
  <package id="ServiceStack.Server" version="5.0.0" targetFramework="net45" />
  <package id="ServiceStack.Text" version="5.0.0" targetFramework="net45" />
</packages>