@inherits ViewPage

﻿@{
    ViewBag.Title = "Courtney Love";
}
<div id="content-page">
    
    <img src="splash.jpg" id="splash" alt="Courtney Love" />
    <p>
        Courtney Michelle Love is an American singer-songwriter, musician, actress and artist. 
        Love initially gained notoriety in the Los Angeles indie rock scene with her band Hole, 
        which she formed in 1989 with Eric Erlandson. 
    </p>

    <dl>
        <dt> 
            Born
        </dt>
        <dd>
            July 9, 1964 (age 48), San Francisco
        </dd>
        <dt>
            Height
        </dt>
        <dd>
            5' 10" (1.77 m)
        </dd>
        <dt>
            Albums
        </dt>
        <dd>
            Nobody's Daughter, America's Sweetheart
        </dd>
    </dl>

    @Html.Partial("Content")

</div>

  