<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="system.web.webPages.razor"
            type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
            <section name="host"
                type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
                requirePermission="false"/>
            <section name="pages"
                type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
                requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.web>
        <httpHandlers>
            <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*"/>
        </httpHandlers>
        <compilation targetFramework="4.5" debug="true">
            <buildProviders>
                <add extension=".cshtml" type="ServiceStack.Razor.CSharpRazorBuildProvider, ServiceStack.Razor"/>
            </buildProviders>
        </compilation>
        <pages controlRenderingCompatibilityVersion="4.0"/>
    </system.web>
    <!-- Required for IIS 7.0 -->
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <handlers>
            <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode"
                resourceType="Unspecified" allowPathInfo="true"/>
        </handlers>
    </system.webServer>
    <system.web.webPages.razor>
        <pages pageBaseType="ServiceStack.Razor.ViewPage">
            <namespaces>
                <add namespace="System"/>
                <add namespace="System.Linq"/>
                <add namespace="ServiceStack"/>
                <add namespace="ServiceStack.Html"/>
                <add namespace="ServiceStack.Razor"/>
                <add namespace="ServiceStack.Text"/>
                <add namespace="ServiceStack.OrmLite"/>
                <add namespace="RazorRockstars"/>
                <add namespace="RazorRockstars.CompiledViews.WebHost"/>
            </namespaces>
        </pages>
        <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </system.web.webPages.razor>
    <appSettings>
        <add key="webPages:Enabled" value="false"/>
    </appSettings>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks.Extensions" culture="neutral"
                                  publicKeyToken="cc7b13ffcd2ddd51" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
