<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <title>Razor Rockstars</title>
    </head>
    <link href="/stars/style.css" rel="stylesheet"/>
    <style type="text/css">
        body {
            background: #E6E6E6;
        }
    </style>
    <body>
		@RenderBody()
    </body>
</html>
