@inherits ViewPage

﻿@{
    ViewBag.Title = "Dave Grohl";
}
<div id="content-page">
    
    <img src="grohl.jpg" id="splash" alt="Dave Grohl" />
    <p>
        David Eric "Dave" Grohl is an American rock musician, multi-instrumentalist, and 
        singer-songwriter, who is the lead vocalist, guitarist, primary songwriter and founder of 
        the Foo Fighters, prior to ... Wikipedia
    </p>

    <dl>
        <dt>
            Born
        </dt>
        <dd>
            January 14, 1969 (age 43), Warren
        </dd>
        <dt>
            Spouse
        </dt>
        <dd>
            Jordyn Blum (m. 2003), Jennifer Youngblood (m. 1993-1997)
        </dd>
        <dt>
            Music groups
        </dt>
        <dd>
            Foo Fighters, Nirvana, Scream, Killing Joke, Melvana
        </dd>
    </dl>

    @Html.Partial("GrohlContent")

</div>
